.search-container-wrapper {
    display: flex;
    justify-content: center;
    padding: 20px;
  }
  
  .search-container {
    position: relative;
    width: 100%;
    max-width: 500px;
    border-radius: 50px;
    background: linear-gradient(135deg, rgb(218, 232, 247) 0%, rgb(214, 229, 247) 100%);
    padding: 5px;
    display: flex;
    align-items: center;
  }
  
  .search-container::after,
  .search-container::before {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: inherit;
    position: absolute;
  }
  
  .search-container::before {
    top: -1px;
    left: -1px;
    background: linear-gradient(0deg, rgb(218, 232, 247) 0%, rgb(255, 255, 255) 100%);
    z-index: -1;
  }
  
  .search-container::after {
    bottom: -1px;
    right: -1px;
    background: linear-gradient(0deg, rgb(163, 206, 255) 0%, rgb(211, 232, 255) 100%);
    box-shadow: rgba(37, 70, 102, 0.7) 3px 3px 5px 0px, rgba(79, 156, 232, 0.7) 5px 5px 20px 0px;
    z-index: -2;
  }
  
  .input {
    flex-grow: 1;
    padding: 10px;
    background: linear-gradient(135deg, rgb(218, 232, 247) 0%, rgb(214, 229, 247) 100%);
    border: none;
    color: #9EBCD9;
    font-size: 16px;
    border-radius: 50px;
  }
  
  .input:focus {
    outline: none;
    background: linear-gradient(135deg, rgb(239, 247, 255) 0%, rgb(214, 229, 247) 100%);
  }
  
  .search__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    margin-left: -40px;
    cursor: pointer;
  }
  
  .search__icon:hover path {
    fill: #ff8e8e;
  }
  


  .category-card {
    border-radius: 10px;
    border: 1px solid #d3d3d3;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f8f9fa; /* Light gray as the secondary color */
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }
  
  .category-card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .card-title {
    color: #4a5568; /* Custom secondary text color */
    font-size: 1.1rem;
  }
  
  .action-btn {
    padding: 0.5em;
    border-radius: 50%;
    margin-left: 0.5em;
  }
  
  .action-btn:hover {
    background-color: #e2e6ea;
  }
  
  /* Responsiveness for small screens */
  @media (max-width: 480px) {
    .input {
      font-size: 14px;
      padding: 8px;
    }
  
    .search-container {
      max-width: 250px;
    }
  }
  